<div class="container">
    <h5 class="text-center">Cart</h5>
    <div class="row">
        <div class="col bg-dark text-white">Brand</div>
        <div class="col bg-dark text-white">Model</div>
        <div class="col bg-dark text-white">Price</div>
        <div class="col bg-dark text-white">QTY</div>
    </div>
    <div class="row border" *ngFor="let cart of cartData">
        <div class="col">{{cart.brand}}</div>
        <div class="col">{{cart.model}}</div>
        <div class="col">{{cart.price}}</div>
        <div class="col">{{1}}</div>


    </div>