<div class="container">
    <h5 class="text-center">tv</h5>
    <div class="row">
        <div class="col bg-dark text-white">Brand</div>
        <div class="col bg-dark text-white">Model</div>
        <div class="col bg-dark text-white">Price</div>
        <div class="col bg-dark text-white"></div>
    </div>
    <div class="row" *ngFor="let tv of tvData;let i = index">
        <div class="col">{{tv.brand}}</div>
        <div class="col">{{tv.model}}</div>
        <div class="col">{{tv.price}}</div>
        <div class="col">
            <button class="btn btn-primary m-1" (click)="addData(i)">Add<i class="fas fa-cart-plus"></i></button> </div>

    </div>
</div>